<div class="leftside">
  <h1>Snake but with my Blue Tongue Skink</h1>
  <div class="scoreDisplay"></div>
  <div class="button">
    <div>
      <button class="top tooltip">
        Up
        <span class="tooltiptexttop">"W key"</span>
      </button>
    </div>
    <div>
      <button class="left tooltip">
        Left
        <span class="tooltiptext">"A key"</span>
      </button>
      <button class="bottom tooltip">
        Down
        <span class="tooltiptext">"S key"</span>
      </button>
      <button class="right tooltip">
        Right
        <span class="tooltiptext">"D key"</span>
      </button>
    </div>
  </div>
</div>
<div class="rightside">
  <div class="grid"></div>
  <div class="popup">
    <div id="message"></div>
    <button class="play">play</button>
  </div>
</div>

<script src="js/george.js"></script>
