<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
        a lobortis orci. Ut aliquam pharetra tempus. Donec molestie
        congue magna, a porttitor nunc pretium eu. In tristique quam vel
        tempor mattis. Pellentesque fringilla augue eget libero euismod,
        consequat finibus elit blandit. Nunc suscipit dolor sit amet
        magna iaculis, imperdiet faucibus augue lobortis. Phasellus
        varius tempor neque, in eleifend eros consequat in. Integer
        ullamcorper justo ut ante bibendum egestas. Cras commodo purus
        lacus.
      </p>
      <p>
        Interdum et malesuada fames ac ante ipsum primis in faucibus.
        Quisque pulvinar nisl id tincidunt mollis. Interdum et malesuada
        fames ac ante ipsum primis in faucibus. Interdum et malesuada
        fames ac ante ipsum primis in faucibus. Nam dictum metus sed
        maximus pellentesque. Nunc consequat ligula risus, lobortis
        convallis turpis dictum sit amet. Integer aliquam, mauris
        vulputate congue rhoncus, nunc diam maximus risus, vel ultrices
        lectus ipsum sit amet massa. Nulla facilisi. Quisque pulvinar,
        erat nec facilisis sollicitudin, eros quam blandit urna, vitae
        dignissim augue dolor in nibh.
      </p>
      <p>
        Praesent rhoncus vulputate pellentesque. Etiam scelerisque
        ultricies maximus. Morbi purus tellus, placerat eu rutrum vel,
        mollis quis leo. Donec a elit non dui bibendum commodo. Maecenas
        tortor tellus, iaculis eu tincidunt tempus, commodo iaculis
        lacus. Aenean elementum ligula libero, et egestas elit luctus
        sed. Suspendisse nec odio sodales, pretium purus ut, fermentum
        ligula.
      </p>
      <p>
        Donec pretium ut felis porta ornare. Phasellus congue mauris in
        nisl sagittis, tristique rhoncus mi tristique. Integer fermentum
        eget libero a pharetra. Mauris fermentum lorem et dui posuere,
        non ultricies enim sodales. Curabitur sed libero vel neque
        efficitur tempor a sit amet arcu. Donec at feugiat leo.
        Suspendisse potenti. Nam eleifend, enim eget blandit lacinia,
        ligula purus laoreet sapien, ac pulvinar odio enim efficitur
        risus. Duis hendrerit tellus a sem consequat eleifend. Mauris
        interdum nulla at lectus semper iaculis. Curabitur interdum
        metus non massa pharetra, a mollis felis pretium.
      </p>
    </div>
    <div class="card">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
        a lobortis orci. Ut aliquam pharetra tempus. Donec molestie
        congue magna, a porttitor nunc pretium eu. In tristique quam vel
        tempor mattis. Pellentesque fringilla augue eget libero euismod,
        consequat finibus elit blandit. Nunc suscipit dolor sit amet
        magna iaculis, imperdiet faucibus augue lobortis. Phasellus
        varius tempor neque, in eleifend eros consequat in. Integer
        ullamcorper justo ut ante bibendum egestas. Cras commodo purus
        lacus.
      </p>
      <p>
        Interdum et malesuada fames ac ante ipsum primis in faucibus.
        Quisque pulvinar nisl id tincidunt mollis. Interdum et malesuada
        fames ac ante ipsum primis in faucibus. Interdum et malesuada
        fames ac ante ipsum primis in faucibus. Nam dictum metus sed
        maximus pellentesque. Nunc consequat ligula risus, lobortis
        convallis turpis dictum sit amet. Integer aliquam, mauris
        vulputate congue rhoncus, nunc diam maximus risus, vel ultrices
        lectus ipsum sit amet massa. Nulla facilisi. Quisque pulvinar,
        erat nec facilisis sollicitudin, eros quam blandit urna, vitae
        dignissim augue dolor in nibh.
      </p>
      <p>
        Praesent rhoncus vulputate pellentesque. Etiam scelerisque
        ultricies maximus. Morbi purus tellus, placerat eu rutrum vel,
        mollis quis leo. Donec a elit non dui bibendum commodo. Maecenas
        tortor tellus, iaculis eu tincidunt tempus, commodo iaculis
        lacus. Aenean elementum ligula libero, et egestas elit luctus
        sed. Suspendisse nec odio sodales, pretium purus ut, fermentum
        ligula.
      </p>
      <p>
        Donec pretium ut felis porta ornare. Phasellus congue mauris in
        nisl sagittis, tristique rhoncus mi tristique. Integer fermentum
        eget libero a pharetra. Mauris fermentum lorem et dui posuere,
        non ultricies enim sodales. Curabitur sed libero vel neque
        efficitur tempor a sit amet arcu. Donec at feugiat leo.
        Suspendisse potenti. Nam eleifend, enim eget blandit lacinia,
        ligula purus laoreet sapien, ac pulvinar odio enim efficitur
        risus. Duis hendrerit tellus a sem consequat eleifend. Mauris
        interdum nulla at lectus semper iaculis. Curabitur interdum
        metus non massa pharetra, a mollis felis pretium.
      </p>
    </div>
  </div>
  <div class="rightcolumn">
    <div class="card">
      <h2>This Me</h2>
      <img src="assets/images/headshot.jpg" class="headshot" />
    </div>
  </div>
</div>
