

.headshot {
  width: 200px;
  height: 300px;
  object-fit: cover;
  object-position: 0% 100%;
}

.row {
  display: flex;
  /* flex-wrap: wrap; */
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.leftcolumn {
  flex: 75%;
}

.rightcolumn {
  flex: 25%;
  background-color: #f1f1f1;
  padding-left: 1.25em;
}

.card {
  background-color: white;
  padding: 1.25em;
  margin-top: 1.25em;
}
